%h1 Kursberichte
%p
  Hier kannst du Kursberichte schreiben.
  Wenn dein Kurs noch nicht aufgeführt ist, erstell ihn einfach!
  (Die Kurskommentare sind jetzt ausgeblendet.)

  - if Instabil.frozen? && current_user.moderator? && !params["show_comments"]
    %strong
      %a{ href: '/courses?show_comments=true' } Alle Kommentare anzeigen
- [4, 2].each do |num|
  - name = num == 4 ? 'Vierstündig' : 'Zweistündig'

  %h2== #{name}e Kurse
  - unless Instabil.frozen?
    %form{ action: '/courses', method: 'post' }
      %input{ type: 'hidden', name: 'course[num]', value: num }
      .course
        .metaform
          %select.dataz{ name: 'course[subject]' }
            %option{ value: '' } (Fach)
            - Instabil::SUBJECT_MAP.each do |k, v|
              %option{ value: k }= v
          == #{name.downcase} bei Herr/Frau
          = succeed ',' do
            %input.dataz{ name: 'course[teacher]', placeholder: 'z.B. Schürer' }
          = num == 4 ? 'Doppelstunde am' : 'erste Stunde in der Woche am'
          %select.dataz{ name: 'course[weekday]' }
            %option{ value: '' } (Wochentag)
            - Instabil::WEEKDAYS.each_with_index do |d, i|
              %option{ value: i }= d
          %br
          %input.dataz{ type: 'submit', value: "Als #{name}en Kurs eintragen" }

  - Course.where(num: num).group_by{|c|c.subject}.sort_by{|x|x[0]}.each do |fach, courses|
    %h4.subject= Instabil::SUBJECT_MAP[fach]
    - courses.each do |course|
      .course[course]
        .meta
          %strong= Instabil::SUBJECT_MAP[course.subject]
          == #{name.downcase} bei
          = succeed ',' do
            %strong= course.teacher
          = num == 4 ? 'Doppelstunde am' : 'erste Stunde in der Woche am'
          %strong= course.weekday_name

          %br

          - if course.page.present?
            %a{ href: "/courses/#{course.id}" } Kursbericht anschauen
          - else
            %form{ action: "/pages/new" }
              %input{ type: "hidden", name: "for_course", value: course.id}
              %button{ style: 'font-size: 200%' } Kursbericht schreiben

        - if !Instabil.frozen? || (current_user.moderator? && params["show_comments"])
          .tags
            - course.tags.each do |tag|
              %span.tag
                = tag.name
                
                - if current_user.can_destroy? tag
                  %form.ajax_deletetag{ action: "/courses/#{course.id}/untag/#{tag.id}", method: 'post' }
                    %input{ type: 'submit', value: 'Löschen' }
          - if current_user.can_create?(course.tags.build)
            %form.ajaxtag{ action: "/courses/#{course.id}/tags", method: 'post' }
              %input.tagname{ name: 'tag[name]', type: 'text' }
              %input{ type: 'submit', value: 'Kommentar hinzufügen' }
  %br
  %br