%h1= @course.name
- if page = @course.page
  %a{ :href => "/pages/#{page.id}/edit" } Seite bearbeiten
  
  %p= markdown page.text
  
  - section :footer do
    %p#last-edit 
      == Version #{page.version}, zuletzt bearbeitet von
      %span.user_name= page.author.name
      am
      = page.date.strftime("%d.%m.%y um %H:%M")
      —
      %strong
        %a{ :href => "/pages/#{page.id}/versions" } Alle Versionen anzeigen
- else
  %a{ :href => "/pages/new?for_course=#{@course.id}" } Seite erstellen