- if Course.all.empty?
  %p Es wurden noch keine Kurse eingetragen. Das kann sich nur noch um Stunden handeln...
- else
  %h1 Vierst端ndige Kurse
  - Course.all.select{|c|c.num==4}.group_by{|c|c.fach}.each do |fach, courses|
    %h3= fach
    %ul
      - courses.sort_by{|c|c.name}.each do |course|
        %li
          %a{ :href => "/courses/#{course.id}" }= course.name
          == (#{course.fach} vierst端ndig)
  
  %h1 Zweist端ndige Kurse
  - Course.all.select{|c|c.num==2}.group_by{|c|c.fach}.each do |fach, courses|
    %h3= fach
    %ul
      - courses.sort_by{|c|c.name}.each do |course|
        %li
          %a{ :href => "/courses/#{course.id}" }= course.name
          == (#{course.fach} zweist端ndig)