%h1= @person.name
%form{ action: "/people/#{@person.uid}/page", method: 'post' }
  - @page.fields.each do |field, data|
    - next if field[0] == '_'
    %p
      %label{ :for => "page[#{field}]" }== #{field.capitalize}:
      - if field == 'text'
        %textarea{ name: "page[#{field}]"}= @page.read_attribute(field)
      - elsif data.type == String || data.type == Integer
        %input{ name: "page[#{field}]", value: @page.read_attribute(field), type: 'text' }
      - elsif data.type == Boolean
        %input{ name: "page[#{field}]", value: @page.read_attribute(field), type: 'checkbox' }

  %input{ type: 'submit', value: 'Speichern' }