!!!
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-type"}
    %link{:href => "/css/dark-hive/jquery-ui-1.8.16.custom.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/gollum.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/editor.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/dialog.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/template.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/mine.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    /[if IE 7]
      <link rel="stylesheet" type="text/css" href="/css/ie7.css" media="all">
    %script{:src => "/javascript/jquery.js", :type => "text/javascript"}
    %script{:src => "/javascript/jquery-ui-1.8.16.custom.min.js", :type => "text/javascript"}
    %script{:src => "/javascript/jquery.form.js", :type => "text/javascript"}
    %script{:src => "/javascript/gollum.js", :type => "text/javascript"}
    %script{:src => "/javascript/gollum.dialog.js", :type => "text/javascript"}
    %script{:src => "/javascript/gollum.placeholder.js", :type => "text/javascript"}
    %script{:src => "/javascript/editor/gollum.editor.js", :type => "text/javascript"}
    %script{:src => "http://js.pusherapp.com/1.9/pusher.min.js", :type => "text/javascript"}
    
    %title instABIl
  %body
    - if flash[:error]
      .flash#error= flash[:error]
    - if flash[:notice]
      .flash#notice= flash[:notice]
    #wiki-wrapper
      #head
        %h1
          %a{ href: '/' }
            %img{ :src => '/images/logo.png' }
        - if current_user.email.nil? || current_user.email.empty?
          #nomail
            %a{ :href => "/preferences" }
              %span
                %strong Du hast noch keine E-Mail-Addresse eingetragen.
                Bitte tu das, damit du über Neuigkeiten informiert werden kannst. Klicke dazu hier.
        %ul.actions
          %li.minibutton
            %a{ :href => '/' } Startseite
          %li.minibutton
            %a{ :href => "/people/#{current_user.uid}" }
              Deine Seite
          %li.minibutton
            %a{ :href => "/preferences" }
              Einstellungen
          %li.minibutton
            %a{ :href => "/logout" }
              Abmelden
      
      #wiki-content
        .wrap
          #wiki-body
            #template= yield
      #footer
        = section :footer
        %hr
        %p
          Bei Problemen schreibt schaut doch mal im
          %a{ href: "http://piratepad.net/ZTInoZhyvt"} Support-Pad
          vorbei.
          Der Quelltext ist auf
          %a{ href: "https://github.com/jonasschneider/instabil" } GitHub
          zu finden. Der ganze Spaß hier ist von Jonas Schneider und Lukas Kramer,
          und wir wollen hier niemanden, der schon für Abi-Sachen verantwortlich ist, auf die Füße treten.
    
    :javascript
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(66505064);
      (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();