%h1= @page.name

- if @page.signed_off_by.present?
  .flash.notice== Als fertig markiert von #{@page.signed_off_by.name}. Ab jetzt können nur noch Mitglieder der Redaktion die Seite bearbeiten.
  - if current_user.moderator?
    Moderator-Aktionen:
    %form{ action: "/pages/#{@page.id}/un_signoff", method: 'post' }
      %input{ type: 'submit', value: 'Als unfertig markieren' }

- else
  - if current_user.moderator?
    Moderator-Aktionen:
    %form{ action: "/pages/#{@page.id}/signoff", method: 'post' }
      %input{ type: 'submit', value: 'Als fertig markieren' }

%p
  Wenn ihr spezielle Wünsche habt, wie der Bericht aussehen soll (Bilder, bestimmte Form, oder so) schreibt
  %a{ href: 'mailto:lu@0x83.eu' } Lukas
  eine Mail.
  %strong In der Abizeitung kann und wirds anders aussehen. Jeder hat einen anderen Bildschirm.
  
%form{ action: "/pages/#{@page.id}", method: 'post' }
  = haml :page_form, locals: { page: @page }

  %p
    %input{ type: 'submit', value: 'Speichern' }
