- section :nav do
  %li.minibutton
    %a{ :href => "/people/#{@person.uid}/page/edit" } Bearbeiten

- section :footer do
  %p#last-edit 
    == Version #{@page.version}, zuletzt bearbeitet von
    %span.user_name= @page.author.name
    am
    = @page.date.strftime("%d.%m.%y um %H:%M")
    

%h1= @person.name
%h2== Kurs K2.#{@page.kurs}, #{@page.zug}
%p
  Vierstündig:
  = @page.lks
  %br

  Kurzinfo:
  = @page.bio

%p= @page.text

%p Tags.. TODO