%h1= @person.name
%h2== Kurs K2.#{@person.kurs}, #{@person.zug}
%img{ src: @person.avatar_url(:medium) }
%p
  Vierstündig:
  = @person.lks
  %br

  Kurzinfo:
  = @person.bio
  
  %h2 Tags
  - if @person.tags.empty?
    %p (noch keine Tags)
  - else
    %ul
      - @person.tags.each do |tag|
        %li.tag= tag.name
  %form{ action: "/people/#{@person.id}/tags", method: 'post' }
    %input{ name: 'tag[name]', type: 'text' }
    %input{ type: 'submit', value: 'Hinzufügen' }

%h2 Abizeitungs-Seite
- if @person == current_user
  %p Du kannst deine eigene Seite nicht anschauen ;)
- else
  - if page = @person.page
    - section :footer do
      %p#last-edit 
        == Version #{page.version}, zuletzt bearbeitet von
        %span.user_name= page.author.name
        am
        = page.date.strftime("%d.%m.%y um %H:%M")
        —
        %strong
          %a{ :href => "/pages/#{page.id}/versions" } Alle Versionen anzeigen
  
    %p= markdown page.text
    
    - if current_user.can_update?(page)
      %ul.actions
        %li.minibutton
          %a{ :href => "/pages/#{page.id}/edit" } Seite bearbeiten
    - else
      %p
        %em (Du kannst die Seite nicht bearbeiten.)

  - else
    %p
      == #{@person.name} hat noch keine Seite. Du kannst sie erstellen.

  %ul.actions
    %li.minibutton
      %a{ :href => "/pages/new?for_person=#{@person.uid}" } Seite erstellen