%h1= @person.name
%h2== Kurs K2.#{@person.kurs}, #{@person.zug}
%p
  Vierstündig:
  = @person.lks
  %br

  Kurzinfo:
  = @person.bio
  
  %p Tags.. TODO

- if page = @person.page
  - section :footer do
    %p#last-edit 
      == Version #{page.version}, zuletzt bearbeitet von
      %span.user_name= page.author.name
      am
      = page.date.strftime("%d.%m.%y um %H:%M")
      —
      %strong
        %a{ :href => "/pages/#{page.id}/versions" } Alle Versionen anzeigen

  %p= markdown page.text
  
  %ul.actions
    %li.minibutton
      %a{ :href => "/pages/#{page.id}/edit" } Seite bearbeiten

- else
  %p
    == #{@person.name} hat noch keine Seite. Du kannst sie erstellen.
    Damit wirst du eingetragen als
    %strong verantwortlich
    für diese Seite. Andere können sie immer noch bearbeiten, aber du solltest schauen, dass kein Mist gebaut wird.

  %ul.actions
    %li.minibutton
      %a{ :href => "/pages/new?for_person=#{@person.uid}" } Seite erstellen