%h2= @poll.title

- if @poll.serious
  .serious-info
    Dies ist eine
    = succeed '.' do
      %strong.serious Abstimmung.
    Sie endet am
    = succeed ',' do
      %strong.end_date= @poll.end_date.strftime("%d.%m.%y")
    nur der Ersteller kann Antwortmöglichkeiten hinzufügen, und es ist nicht möglich, seine Wahl zu ändern.

%table.answers-table
  %tbody
    - @poll.answers.each do |answer|
      %tr.answer
        %td.name
          = answer.name
          %br
          %span.creator
            von
            = answer.creator.name
        %td
          %span.votes= answer.vote_count
          %span.info= answer.vote_count == 1 ? 'Stimme' : 'Stimmen'
          
        %td
          - if !@poll.serious || (@poll.vote_for(current_user).new_record? && Date.today < @poll.end_date)
            %form.voteform{ action: "/polls/#{@poll.id}/vote", method: 'post' }
              %input{ name: "vote[answer_id]", type: 'hidden', :value => answer.id }
              - if @poll.voting_for? current_user, answer
                %input.vote-button.vote.choice{ type: 'submit', value: "Dafür stimmst du! #{'Klick, um die Stimme zu entfernen' if @poll.approval}" }
              - else
                %input.vote-button.vote.alternative{ type: 'submit', value: 'Dafür stimmen' }
              - if @poll.serious
                %input.confirm.vote-button{ type: 'submit', value: 'Sicher? Bitte nochmal klicken!', style: 'display:none' }
                %input.cancel.vote-button{ type: 'submit', value: 'Abbrechen', style: 'display:none' }
                
- if @poll.serious
  :javascript
    $(".vote").click(function(e) {
      $(this).parents("tr").siblings().hide()
      $(this).siblings(".confirm").show()
      $(this).siblings(".cancel").show()
      $(this).parents("tr").find(".vote").hide()
      
      e.preventDefault()
    })
    
    $(".cancel").click(function(e) {
      $(this).parents("tr").siblings().show()
      $(this).parents("tr").find(".confirm").hide()
      $(this).parents("tr").find(".cancel").hide()
      $(this).parents("tr").find(".vote").show()
      
      e.preventDefault()
    })


- if !@poll.serious || @poll.creator == current_user
  %h2 Neue Antwortmöglichkeit
  %form{ action: "/polls/#{@poll.id}/answers", method: 'post' }
    %p
      %input{ name: "answer[name]", type: 'text', :size => 60}
  
      %input{ type: 'submit', value: 'Speichern' }

%p
  %a{ :href => '/polls' } Zurück zu den anderen Umfragen

- section :footer do
  %p#last-edit 
    == Erstellt von
    %span.user_name= @poll.creator.name
    am
    = @poll.created_at.strftime("%d.%m.%y um %H:%M")