%h2 Ablauf der Abimottowahl
Die Wahl des Abimottos läuft in drei Phasen ab:
%ul
  %li
    %h3
      %a{ href: '/polls/4ed792577e664c0001000001' } Phase 1: Jeder kann Vorschläge hinzufügen, die Abstimmergebnisse sind irrelevant, sie stellen nur ein Meinungsbild dar
      %br
      %strong &nbsp;&nbsp;&nbsp;Hier könnt ihr jetzt eure Vorschläge eintragen!
  %li Phase 2: Alle Vorschläge stehen zur Abstimmung, jeder hat eine endgültige Stimme
  %li Phase 3: Die besten 5 aus Phase 2 stehen zur Abstimmung, jeder hat eine endgültige Stimme
%h2 Alle Abstimmungen
%ul
- @polls.select{|p|p.serious}.sort{|p|p.votes.length}.reverse.each do |poll|
  %li.poll-info
    %a.poll-name{:href => "/polls/#{poll.id}" }= poll.title
    von
    = poll.creator.name
    = surround '(', ')' do
      = poll.votes.length
      Teilnehmer

%h2 Alle Umfragen
%ul
- @polls.select{|p|!p.serious}.sort{|p|p.votes.length}.reverse.each do |poll|
  %li.poll-info
    %a.poll-name{:href => "/polls/#{poll.id}" }= poll.title
    von
    = poll.creator.name
    = surround '(', ')' do
      = poll.votes.length
      Teilnehmer


%h2 Umfrage/Abstimmung erstellen
%form{ action: "/polls", method: 'post' }
  %p
    Titel:
    %input{ name: "poll[title]", type: 'text', :size => 50, :placeholder => 'z.B. "Welches Abimotto fändet ihr am Besten?"' }

  %p
    %input{ name: "poll[serious]", id: "new_poll_serious", type: 'checkbox', value: 'true' }
    'richtige' Abstimmung (festes Enddatum, nur du kannst Antworten hinzufügen, jeder kann nur einmal abstimmen)
    #end_date
      Enddatum: 
      %input{ name: "poll[end_date]", id: "new_poll_end_date", type: 'text', :size => 10, :placeholder => 'Hier klicken' }
    :javascript
      $("#new_poll_end_date").datepicker();
      $("#new_poll_serious").click(function() {
        $("#end_date").show()
      })
      $("#end_date").hide()
      
    
    
  %p
    %input{ type: 'submit', value: 'Umfrage erstellen' }