- summary = Instabil::SummaryPresenter.new(Person.all.order_by([:uid, :asc]))
- results, totals = summary.run

#summary
  %h1 Redaktionsübersicht
  #progress
    Fortschritt
    %span== #{((totals.sum.to_f / summary.data_point_count.to_f)*100).to_i}%
  
  %p== Insgesamt: #{Person.count} Benutzer, #{Person.all.map{|p|p.tags.length}.sum} Kommentare, #{Course.all.map{|c|c.tags.length}.sum} Kurskommentare

  %table
    %tr
      %th Name
      - summary.steps.each do |step|
        %th= step[:title]

    - results.each do |r|
      - p, result = r
      %tr[p]
        %td.name
          %a{ :href => "/people/#{p.uid}" }= p.name
        - result.each_with_index do |step_result, i|
          %td{ :class => summary.steps[i][:name].to_s+' '+(step_result ? 'ok' : 'fail')}
        

    %tr.footer
      %td
      - totals.each do |t|
        %td== #{t} (#{((t.to_f / summary.collection.length)*100).to_i}%)

  
  %table
    %tr
      %th Kurs
      %th Kursbericht eingetragen
      %th mehr als 5 Kommentare

    - Course.all.each do |c|
      %tr[p]
        %td.name
          %a{ :href => "/" }= c.name

        %td{ :class => (c.page.present? ? 'ok' : 'fail') }

        %td{ :class => (c.tags.count > 5 ? 'ok' : 'fail') }
      

  %p== Moderatoren: #{Person.moderator_uids.map{|uid| Person.where(uid: uid).first.try(:name) }.join(', ')}